
<% @orders.each do |order| %>
    <li>
    <p><b>Order Number: <%= order.id %></b></p>
    <p>Address: <%= order.address %></p>
    <p>Total: <%= order.total %></p>
   </li>
<% end %>
<a href='/orders/:id/edit'>Edit an order</a>
