<div class="container">
  <header><img src="https://blog.ifit.com/wp-content/uploads/2015/08/10-tips_cut_calories_210862876-960x384.jpg"></header>
</div>

<h1>WELCOME TO WHOLESOME DINNERS! </h1>
<h3>Thank you for your business during these trying times! At this time we are only 
accepting take out orders.</h3>
   